<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Seam Remoting Unit Testsuite" verbose="2" parallel="false">
   
   <test name="Seam Unit Tests Remoting">
     <classes>
        <class name="org.jboss.seam.test.unit.RemotingTest"/>
     </classes>
   </test>
   
</suite>
