<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Nested Hotel Booking" verbose="2" parallel="false">

   <test name="Nested Hotel Booking">
     <classes>
       <!-- <class name="org.jboss.seam.example.nestedbooking.test.LoginTest"/>-->
       <class name="org.jboss.seam.example.nestedbooking.test.BookingTest"/>
       <!-- <class name="org.jboss.seam.example.nestedbooking.test.ChangePasswordTest"/>-->
     </classes>
   </test>
	
</suite>
